
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-googleplus:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */